@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@300&display=swap');

:root {
  --bg-color: #F3EFE0;
  --primary-color: #00425A;
  --secondary-color: #1F8A70;
}

.App {
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
}